#htaccess-check .success-redirects .success,
#htaccess-checker-redirect-table .success {
    color: green;
}

#htaccess-check .wrong-redirects .src {
    color: #0678be;
}

#htaccess-check .wrong-redirects .tgt,
#htaccess-checker-redirect-table .fail {
    color: red;
}

#htaccess-checker-redirect-table .no-redirect {
    color: orange;
}

#htaccess-check .wrong-redirects .effective {
    color: #0678be;
}

#redirects input,
#htaccess-checker-redirect-table input {
    padding:5px;
}

#htaccess-checker-redirect-table td div[id^="result_"] {
    min-width:300px;
}

#htaccess-check .toggle-verbose {
    float:right;
}